<a href="https://colab.research.google.com/github/andregranberg/twitter/blob/master/SVM_Twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
The data is a CSV with emoticons removed. Data file format has 6 fields:
0 - the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)
1 - the id of the tweet (2087)
2 - the date of the tweet (Sat May 16 23:58:44 UTC 2009)
3 - the query (lyx). If there is no query, then this value is NO_QUERY.
4 - the user that tweeted (robotickilldozr)
5 - the text of the tweet (Lyx is cool)

http://help.sentiment140.com/for-students

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data/train.csv', encoding='latin-1', header=None)

In [ ]:
df

         0  ...                                                  5
0        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        0  ...  is upset that he can't update his Facebook by ...
2        0  ...  @Kenichan I dived many times for the ball. Man...
3        0  ...    my whole body feels itchy and like its on fire
4        0  ...  @nationwideclass no, it's not behaving at all....
...     ..  ...                                                ...
1599995  4  ...  Just woke up. Having no school is the best fee...
1599996  4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599997  4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599998  4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599999  4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]

In [ ]:
label = df.iloc[:, :1]

In [ ]:
tweets = df.iloc[:, 5:]

In [ ]:
tweets.columns = ['tweets']

In [ ]:
tweets

                                                    tweets
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        is upset that he can't update his Facebook by ...
2        @Kenichan I dived many times for the ball. Man...
3          my whole body feels itchy and like its on fire
4        @nationwideclass no, it's not behaving at all....
...                                                    ...
1599995  Just woke up. Having no school is the best fee...
1599996  TheWDB.com - Very cool to hear old Walt interv...
1599997  Are you ready for your MoJo Makeover? Ask me f...
1599998  Happy 38th Birthday to my boo of alll time!!! ...
1599999  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 1 columns]

In [ ]:
tweets['label'] = label

In [ ]:
tweets

                                                    tweets  label
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...      0
1        is upset that he can't update his Facebook by ...      0
2        @Kenichan I dived many times for the ball. Man...      0
3          my whole body feels itchy and like its on fire       0
4        @nationwideclass no, it's not behaving at all....      0
...                                                    ...    ...
1599995  Just woke up. Having no school is the best fee...      4
1599996  TheWDB.com - Very cool to hear old Walt interv...      4
1599997  Are you ready for your MoJo Makeover? Ask me f...      4
1599998  Happy 38th Birthday to my boo of alll time!!! ...      4
1599999  happy #charitytuesday @theNSPCC @SparksCharity...      4

[1600000 rows x 2 columns]

In [ ]:
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data/test.csv', encoding='latin-1', header=None)

In [ ]:
test

     0  ...                                                  5
0    4  ...  @stellargirl I loooooooovvvvvveee my Kindle2. ...
1    4  ...  Reading my kindle2...  Love it... Lee childs i...
2    4  ...  Ok, first assesment of the #kindle2 ...it fuck...
3    4  ...  @kenburbary You'll love your Kindle2. I've had...
4    4  ...  @mikefish  Fair enough. But i have the Kindle2...
..  ..  ...                                                ...
493  2  ...  Ask Programming: LaTeX or InDesign?: submitted...
494  0  ...  On that note, I hate Word. I hate Pages. I hat...
495  4  ...  Ahhh... back in a *real* text editing environm...
496  0  ...  Trouble in Iran, I see. Hmm. Iran. Iran so far...
497  0  ...  Reading the tweets coming out of Iran... The w...

[498 rows x 6 columns]

In [ ]:
testLabel = test.iloc[:, :1]

In [ ]:
testLabel

     0
0    4
1    4
2    4
3    4
4    4
..  ..
493  2
494  0
495  4
496  0
497  0

[498 rows x 1 columns]

In [ ]:
testTweets = test.iloc[:, 5:]

In [ ]:
testTweets

                                                     5
0    @stellargirl I loooooooovvvvvveee my Kindle2. ...
1    Reading my kindle2...  Love it... Lee childs i...
2    Ok, first assesment of the #kindle2 ...it fuck...
3    @kenburbary You'll love your Kindle2. I've had...
4    @mikefish  Fair enough. But i have the Kindle2...
..                                                 ...
493  Ask Programming: LaTeX or InDesign?: submitted...
494  On that note, I hate Word. I hate Pages. I hat...
495  Ahhh... back in a *real* text editing environm...
496  Trouble in Iran, I see. Hmm. Iran. Iran so far...
497  Reading the tweets coming out of Iran... The w...

[498 rows x 1 columns]

In [ ]:
testTweets.columns = ['tweets']

In [ ]:
testTweets['label'] = testLabel

In [ ]:
testData = testTweets

In [ ]:
trainData = tweets

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create feature vectors
vectorizer = TfidfVectorizer(min_df = 5,
                             max_df = 0.8,
                             sublinear_tf = True,
                             use_idf = True)

train_vectors = vectorizer.fit_transform(trainData['tweets'])
test_vectors = vectorizer.transform(testData['tweets'])

In [ ]:
import time
from sklearn import svm
from sklearn.metrics import classification_report

# Perform classification with SVM, kernel=linear
classifier_linear = svm.SVC(kernel='linear')s
t0 = time.time()
classifier_linear.fit(train_vectors, trainData['label'])
t1 = time.time()
prediction_linear = classifier_linear.predict(test_vectors)
t2 = time.time()
time_linear_train = t1-t0
time_linear_predict = t2-t1

# results
print("Training time: %fs; Prediction time: %fs" % (time_linear_train, time_linear_predict))
report = classification_report(testData['label'], prediction_linear, output_dict=True)
print('positive: ', report['pos'])
print('negative: ', report['neg'])

In [ ]:
tweet = """this phone is not quick"""

review_vector = vectorizer.transform([review]) # vectorizing
print(classifier_linear.predict(review_vector))

NameError: ignored